SharedService/Connected Services/TaqehService/TaqehService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/SahraShoesService/TaqehService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLib" />
  <xs:element name="GetStockList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetStockListResult" nillable="true" type="q1:ArrayOfStockTaqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleStockList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetSimpleStockListResult" nillable="true" type="q2:ArrayOfStockTaqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="item" nillable="true" type="q3:StockTaqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="item" nillable="true" type="q4:StockTaqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPofakList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPofakListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetPofakListResult" nillable="true" type="q5:ArrayOfPofak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleStockPofak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleStockPofakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetSimpleStockPofakResult" nillable="true" type="q6:ArrayOfStockPofak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStockPofak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="sp" nillable="true" type="q7:StockPofak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStockPofakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStockPofakResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPofakStockList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPofakStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="getPofakStockListResult" nillable="true" type="q8:ArrayOfStockPofak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPofak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="p" nillable="true" type="q9:Pofak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPofakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPofakResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetSimpleListResult" nillable="true" type="q10:ArrayOfTaqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetDetailedListResult" nillable="true" type="q11:ArrayOfTaqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTaqeh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="t" nillable="true" type="q12:Taqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTaqehResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertTaqehResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaminetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaminetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetLaminetListResult" nillable="true" type="q13:ArrayOfLaminetOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLaminet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="lo" nillable="true" type="q14:LaminetOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLaminetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateLaminetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaminetSimpleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLaminetSimpleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="GetLaminetSimpleListResult" nillable="true" type="q15:ArrayOfLaminetOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertLaminet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="lo" nillable="true" type="q16:LaminetOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertLaminetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertLaminetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTaqeh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="t" nillable="true" type="q17:Taqeh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTaqehResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTaqehResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>